/* Styles for header */
html {
    height: 100%;
}

body {
    background-color: rgba(0, 0, 139, 0.7) !important;
    margin: 0;
    font-family: "Courier New", sans-serif;
    color: gold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gold;
    color: darkblue;
    z-index: 1000; /* Ensure header is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    top: -60px; /* Height of collapsed navbar */
    transition: top 0.3s; /* Smooth transition effect */
}

/* Navbar styles */
header .navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold; /* Initial background color */
    transition: background-color 0.3s ease; /* Transition for background color change */
}

header .navbar a {
    color: darkblue;
    text-decoration: none;
    padding: 10px 20px;
    position: relative; /* Add relative positioning for pseudo-element */
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

/* Hover effects for navbar links */
header .navbar a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
    color: #fff; /* Change text color on hover */
    background-color: rgba(0, 0, 139, 0.7); /* Change background color on hover */
}

/* Blur other links when one is hovered */
header .navbar a:hover ~ a {
    filter: blur(5px); /* Blur other links */
}

/* Styles for town map */
.town-map {
    position: relative;
    padding: 20px;
    width: 80%;
    max-width: 100vw;
    height: calc(100vh - 160px); /* Adjusted to account for header and footer height */
    margin: 60px auto 80px auto; /* Reduce margin-bottom to 80px */
    border: blue;
    box-shadow: inset 0 0 0 1000px rgba(4, 59, 92, 0.6);
    background-image: url('../img/town2.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.icon {
    position: absolute;
}

.icon img {
    width: 20%; /* Set the width of the icons relative to the width of the town map container */
    z-index: 2; /* Ensure the icons appear above other elements */
}

.welcome {
    position: relative;
    color: lightgray;
    margin-top: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto; /* Center the div horizontally */
    text-align: center; /* Center the content inside the div */
}
.further p{
      position: relative;
      color: lightgray;
  font-size: 1.5em;
      padding: 10px;
      margin-left: auto;
    margin-right: auto; /* Center the div horizontally */
    text-align: center; /* Center the content inside the div */
}

.further a {
    color: gold;
    text-decoration: none;
    padding: 10px 20px;
    position: relative; /* Add relative positioning for pseudo-element */
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

/* Hover effects for  links */
.further a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
    color: #fff; /* Change text color on hover */
    background-color: rgba(0, 0, 139, 0.7); /* Change background color on hover */
}
.modal{
  margin-top: 10%;
    margin-left: auto;
    margin-right: auto; /* Center the div horizontally */
      text-align: center; /* Center the content inside the div */


}

.modal-content {
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflowing content */
    width: 100%; /* Ensure full width */
    max-height: 70%; /* Adjust the maximum height percentage as needed */
  transition: all 0.5s ease !important;

}

.carousel-item {
    flex: 0 0 auto; /* Prevent items from shrinking */
    margin: 0 10px; /* Adjust margin between items */
    overflow: hidden; /* Hide overflowing content */
    max-height: 70%; /* Adjust the maximum height percentage as needed */
    transition: all 0.5s ease !important;
}

.carousel-item img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.carousel-item:not(.active) img {
    display: none;
}
.carousel-control-prev-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
    transform: scaleX(-1); /* Flip the arrow horizontally */
}

.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
    content: '>';
    font-size: 55px;
    color: darkblue;
}
ol.carousel-indicators {
     position: absolute;
     bottom: 5px;
     margin: 0;
     left: 0;
     right: 0;
     width: auto;
}

ol.carousel-indicators li, ol.carousel-indicators li.active {
     width: 1rem;
     height: 1rem;
     margin: 0;
     border-radius: 50%;
     border: 0;
     background: transparent;
}

ol.carousel-indicators li {
     background: yellow;
     margin-left: .5rem;
     margin-right: .5rem;
}

ol.carousel-indicators li.active {
     background: darkblue;
}

.close {
    position: absolute;
    top: 10px;
    right: 20%;
    font-size: 40px;
    color: darkblue;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000; /* Ensure the close button is above other modal content */
}

.close:hover {
    transform: scale(1.2); /* Increase size on hover */
}
/* Styles for footer */
footer {
    background-color: rgba(255, 215, 0);
    color: darkblue;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 0 20px;
    color: gold;
}

.container p {
    font-size: 1.5em;
}

h1,
h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.projects {
    padding: 0;
    margin: 20px 0;
}

.projects img {
    width: 60%;
}

.projects p {
    font-size: 1.5em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    align-items: center;
}

.ethics img{
   display: flex;
    justify-content: center;
    align-items: center;
      padding: 10px;
  margin: auto;

}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    header .navbar {
        width: 100%;
        justify-content: space-between; /* Adjust alignment for smaller screens */
    }

    .navbar-links {
        display: none; /* Hide navigation links on smaller screens */
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu icon on smaller screens */
        cursor: pointer;
    }

    .welcome {
        margin-top: 20vh !important; /* Adjusted margin for smaller screens using vh */
    }

    .town-map {
        margin-top: 10vh !important; /* Adjusted margin for smaller screens using vh */
        margin-bottom: 8vh !important;
    }

    .container {
        margin-top: 20vh !important; /* Adjusted margin for smaller screens using vh */
    }

     .column {
        flex-basis: 100%; /* Each column takes full width on small screens */
    }

    /* Styles for collapsed navbar */
    .navbar-toggle .navbar-links {
        display: none; /* Hide links when collapsed */
    }

    /* Show toggle button when collapsed */
    .navbar-toggle {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    header .navbar a {
        padding: 5px 10px; /* Adjust padding for smaller screens */
    }

    .welcome {
        margin-top: 4vh; /* Further adjusted margin for even smaller screens using vh */
    }

    .town-map {
        margin-top: 15vh; /* Further adjusted margin for even smaller screens using vh */
        margin-bottom: 15vh;
    }
}

/* Display navbar links on larger screens */
@media (min-width: 769px) {
    header .navbar .navbar-links {
        display: flex;
    }

    /* Hide hamburger menu icon on larger screens */
    .hamburger-menu {
        display: none !important;
    }
}
